upstream flask-app {
    server flaskapp:8000;
}

server {
    listen 80;
    server_name ${FLASK_IP};

    location /fp {
        proxy_pass http://flask-app/fp;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        client_max_body_size 50M;
        proxy_connect_timeout 60s;
        proxy_send_timeout    300s;
        proxy_read_timeout    300s;
        send_timeout          300s;
        proxy_redirect off;
    }

    location /aifix {
        proxy_pass http://flask-app/aifix;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
    }

    location /newfix {
        proxy_pass http://flask-app/newfix;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
    }
}